# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
/dist
/build
/.cache

# Test outputs
/test-results/
/playwright-report/
/playwright/.cache/

# Environment
.env
.env.local
